body {
    color: whitesmoke;
    /* display: flex; */
    /* align-items: center;
  justify-content: center; */
    /* min-height: 100vh; */
    height: 100vh;
    width: 100vw;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: white;
    font-size: 5vw;
    font-weight: bolder;
    text-decoration: underline floralwhite;
}